@import url("./__avatar/profile__avatar.css");
@import url("./__info/profile__info.css");
@import url("./__name-container/profile__name-container.css");
@import url("./__info-name/profile__info-name.css");
@import url("./__info-subtitle/profile__info-subtitle.css");

.profile {
  display: flex;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
}

@media screen and (max-width: 1024px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    max-width: 282px;
    align-items: center;
  }
}
