.popup__container {
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 430px;
  position: relative;
}

@media screen and (max-width: 640px) {
  .popup__container {
    max-width: 282px;
  }
}
