.button_value_close {
  background-image: url("../../../images/Close-Icon.svg");
  width: 58px;
  height: 58px;
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  border: 0;
  position: absolute;
  top: -53px;
  right: -50px;
}

.button_value_close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {
  .button_value_close {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
  }
}
